
* {
    margin: 0;
}

#background-img {
    min-width: 100%;
    display: block;
    margin-bottom: 10px;
}

.navbar {
    z-index: 99;
}


.container-fluid {
    position: relative;
    text-align: center;
}


.text-overlay {
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#carouselExample {
    position: absolute;
    left: 0vw;
    margin-bottom: 15px;
}

.links {
    text-decoration: none;
    color: black;
}