
* {
    margin: 0;
}

#background-img {
    display: block;
    margin-bottom: 10px;
}

.navbar {
    z-index: 99;
}


.container-fluid {
    position: relative;
    text-align: center;
}


.text-overlay {
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#carouselExample {
    max-width: 40vw;
    max-height: auto;
    position: absolute;
    left: 30vw;
}

.carousel {
    margin-bottom: 15px;
}

