


#background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar {
    z-index: 99;
}

/*  CAN'T GET NAV BAR TO BE STICKY

#stickynav {
    position: sticky; 
    top: 0; 
} */


.container-fluid {
    position: relative;
    text-align: center;
}

.text-overlay {
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#carouselExample {
    max-width: 40vw;
    max-height: auto;
    position: absolute;
    left: 30vw;
}

.carousel {
    position: relative;
    top: 300px;
}